@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

h1, h2, h3, h4, h5, h6, p, span, a, li, ul, ol, img, figure, figcaption, blockquote, pre, code, table, th, td, hr {
  color: #171717; 
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, p > a, span > a, li > a, ul > a, ol > a, img > a, figure > a, figcaption > a, blockquote > a, pre > a, code > a, table > a, th > a, td > a, hr > a, a > *, button > * {
  color: inherit; 
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Blog Detail Page CSS S */

  .single-blog-content section{
    font-size: 18px;
    color: #171717;
    line-height: 140%;
    margin: 0px 0 20px 0;
  }

  .single-blog-content h1 {
    font-size: 42px;
    color: #171717;
    margin-bottom: 18px;
  }

  .single-blog-content h2 {
    font-size: 30px;
    color: #171717;
    line-height: 130%;
    font-weight: 600;
    margin: 20px 0 10px 0;
  }

  .single-blog-content h3 {
    font-size: 26px;
    color: #171717;
    line-height: 130%;
    font-weight: 600;
    margin: 20px 0 10px 0;
  }

  .single-blog-content h4 {
    font-size: 22px;
    color: #171717;
    line-height: 130%;
    font-weight: 600;
    margin: 20px 0 10px 0;
  }

  .single-blog-content h5 {
    font-size: 20px;
    color: #171717;
    line-height: 130%;
    font-weight: 600;
    margin: 20px 0 10px 0;
  }

  .single-blog-content h6 {
    font-size: 18px;
    color: #171717;
    line-height: 130%;
    font-weight: 600;
    margin: 20px 0 10px 0;
  }

  .single-blog-content p {
    font-size: 18px;
    color: #171717;
    line-height: 150%;
    margin: 10px 0 10px 0;
  }

  .single-blog-content p + p {
    margin: 10px 0 20px 0;
  }

  .single-blog-content img {
    border-radius: 10px;
    margin: 20px 0;
  }

  .single-blog-content ul {
    list-style: disc;
    list-style-position: inside;
    margin: 10px 0px 20px 0px;
  }

  .single-blog-content ol {
    list-style: decimal;
    list-style-position: inside;
    margin: 10px 0px 20px 0px;
    display: inline-block;
  }

  .single-blog-content ul li,
  .single-blog-content ol li {
    margin: 5px 0 10px 0;
    font-size: 19px;
    color: #171717;
  }

  .single-blog-content ul li > h2,
  .single-blog-content ul li > h3,
  .single-blog-content ul li > h4,
  .single-blog-content ul li > h5,
  .single-blog-content ul li > h6,
  .single-blog-content ol li > h2,
  .single-blog-content ol li > h3,
  .single-blog-content ol li > h4,
  .single-blog-content ol li > h5,
  .single-blog-content ol li > h6 {
    display: contents;
    margin-top: 10px;
    margin-bottom: 0;
  }

  @media (max-width: 1280px) {
    .single-blog-content h1 {
			font-size: 36px;
			margin-bottom: 12px;
		}
		.single-blog-content h2 {
			font-size: 32px;
		}
		.single-blog-content h3 {
			font-size: 30px;
		}
		.single-blog-content h4 {
			font-size: 26px;
		}
    .single-blog-content h6 {
			font-size: 20px;
		}
  }

  @media (max-width: 575px) {
    .single-blog-content h1 {
			font-size: 32px;
		}
		.single-blog-content h2 {
			font-size: 28px;
		}
		.single-blog-content h3 {
			font-size: 26px;
		}
		.single-blog-content h4 {
			font-size: 24px;
		}
		.single-blog-content h5 {
			font-size: 22px;
		}
		.single-blog-content h6 {
			font-size: 20px;
		}
		.single-blog-content p {
			font-size: 16px;
		}
  }

/* Blog Detail Page CSS E */

/* Career Details JD S */

    .roles-and-resposibility-section {
      /* margin-bottom: 20px; */
      color: #001e3c;
      padding: 30px;
      border-bottom-width: 3px;
      border-style: dashed;
      border-color: #001e3c99;
    }

    .roles-and-resposibility-section h2 {
      font-size: 28px;
      font-weight: 600;
      color: #001e3c;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    .roles-and-resposibility-section h3 {
      font-size: 24px;
      font-weight: 600;
      color: #001e3c;
      margin-bottom: 10px;
    }

    .roles-and-resposibility-section ul {
      list-style-type: disc;
      padding-left: 20px;
      /* list-style-position: inside; */
    }

    .roles-and-resposibility-section ul li {
      font-size: 16px;
      color: #141414;
      font-weight: 500;
      margin-bottom: 10px;    
    }

    .roles-and-resposibility-section p {
      font-size: 16px;
      color: #141414;
      font-weight: 500;
      margin-bottom: 10px;
    }

/* Career Details JD E */